
@{
    ViewData["Title"] = "Help";
}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
        }

            .active, .collapsible:hover {
                background-color: #555;
            }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>

    <h1>Help</h1>

    <button class="collapsible">How do I navigate the website?</button>
    <div class="content">
        <div class="column">
            <img src="~/help/q1i1.png" alt="q1i1" style="width:100%">
        </div>
        <p>
            To navigate the entire website simple click the corresponding titles at the top of the page. For example,
            to view Questions, click on the Questions text at the top of the page.
        </p>
        <div class="column">
            <img src="~/help/q1i2.png" alt="q1i2" style="width:100%">
        </div>
    </div>

    <button class="collapsible">How do I Login and Logout?</button>
    <div class="content">
        <div class="column">
            <img src="~/help/q2i1.png" alt="q2i1" style="width:100%">
        </div>
        <p>
            To Login to the website click the Login button at the top-right corner of the web page. Then enter your details
            and click the Login button.
        </p>
        <div class="column">
            <img src="~/help/q2i2.png" alt="q2i2" style="width:100%">
        </div>
        <p>
            To Logout click the red Logout button at the top of the page.
        </p>
        <div class="column">
            <img src="~/help/q2i3.png" alt="q2i3" style="width:100%">
        </div>
    </div>

    <button class="collapsible">How do I add/create a Quiz/Question/Option?</button>
    <div class="content">
        <div class="column">
            <img src="~/help/q3i1.png" alt="q3i1" style="width:100%">
        </div>
        <p>
            To create a particular element navigate to the webpage of the corresponding element. For example, to create
            a new Quiz, navigate to the Quiz webpage and click the Create New text at the top of the page.
        </p>
        <div class="column">
            <img src="~/help/q3i2.png" alt="q3i2" style="width:100%">
        </div>
        <p>
          Enter the various details required and click Create to create a new Quiz. This process is the same for all other elements, where instead of navigating
            to the Quiz webpage, you have to navigate to the webpage of the element you wish to create.
        </p>
        <div class="column">
            <img src="~/help/q3i3.png" alt="q3i3" style="width:100%">
        </div>
    </div>

    <button class="collapsible">How do I edit a Quiz/Question/Option?</button>
    <div class="content">
        <div class="column">
            <img src="~/help/q4i1.png" alt="q4i1" style="width:100%">
        </div>
        <p>
            To edit the details of a particular element you must be logged in and authorized. Afterwards, navigate to the webpage of the corresponding element.For example, to edit
            an existing Quiz, navigate to the Quiz webpage and click the Edit text next to Quiz you want to edit. 
        </p>
        <div class="column">
            <img src="~/help/q4i2.png" alt="q4i2" style="width:100%">
        </div>
        <p>
 Change the various details required and click Save to save the new details of the Quiz. This process is the same for all other elements, where instead of navigating
            to the Quiz webpage, you have to navigate to the webpage of the element type you wish to edit.
        </p>
        <div class="column">
            <img src="~/help/q4i3.png" alt="q4i3" style="width:100%">
        </div>
    </div>

    <button class="collapsible">How do I delete a Quiz/Question/Option?</button>
    <div class="content">
        <div class="column">
            <img src="~/help/q4i1.png" alt="q4i1" style="width:100%">
        </div>
        <p>
            To delete a particular element you must be logged in and authorized. Afterwards, navigate to the webpage of the corresponding element.For example, to delete
            an existing Quiz, navigate to the Quiz webpage and click the Delete text next to Quiz you want to delete.
        </p>
        <div class="column">
            <img src="~/help/q5i1.png" alt="q5i1" style="width:100%">
        </div>
        <p>
            Follow the prompts and confirm the deletion of the element. This process is the same for all other elements, where instead of navigating
            to the Quiz webpage, you have to navigate to the webpage of the element type you wish to delete.
        </p>
        <div class="column">
            <img src="~/help/q5i2.png" alt="q5i2" style="width:100%">
        </div>
    </div>

    <button class="collapsible">How do I view the details of various elements?</button>
    <div class="content">
        <div class="column">
            <img src="~/help/q6i1.png" alt="q6i1" style="width:100%">
        </div>
        <p>
            To view the details of a particular element navigate to the webpage of the corresponding element. For example, to view the details of a particular
            Quiz, navigate to the Quiz webpage. 
        </p>
        <div class="column">
            <img src="~/help/q6i2.png" alt="q6i2" style="width:100%">
        </div>
        <p>
            Then click the Details text next to the Quiz you wish to view the details of.This process is the same for all other elements, where instead of navigating
            to the Quiz webpage, you have to navigate to the webpage of the element you wish to view the details of.
        </p>
        <div class="column">
            <img src="~/help/q6i3.png" alt="q6i3" style="width:100%">
        </div>
    </div>

    <button class="collapsible">How do I view filtered questions or filtered options?</button>
    <div class="content">
        <div class="column">
            <img src="~/help/q6i1.png" alt="q6i1" style="width:100%">
        </div>
        <p>
            To view a filtered page of questions of a particular quiz, navigate to the Quiz webpage through the navbar at the top of the page.
        </p>
        <div class="column">
            <img src="~/help/q7i1.png" alt="q7i1" style="width:100%">
        </div>
        <p>
            Then click the Questions button next to the Quiz you want to filter the questions of. The process is similiar to viewing a filtered list of options for a particular question, except
            you must navigate to the Questions webpage and click the Options button next to the Question you want to filter.
        </p>
        <div class="column">
            <img src="~/help/q7i2.png" alt="q7i2" style="width:100%">
        </div>
    </div>


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>

</body>
</html>


